body {
  background-color: #fafafa;
  font-family: Montserrat, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

h1 {
  color: #0290ff;
}

nav ul {
  display: flex;
  list-style: none;
  font-size: 20px;
  color: #121212;
  align-items: center;
  gap: 1rem;
}

li {
  padding: 10px;
  width: auto;
}

a {
  list-style: none;
  text-decoration: none;
  color: #121212;
  opacity: 0.5;
  font-size: 18px;
}

a:hover,
a:focus {
  color: #0290ff;
  font-weight: bold;
  opacity: 1;
}

.user-logo {
  color: #0290ff;
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-end;
}

.book-list {
  display: flex;
  justify-content: space-around;
  background: #fff;
  width: 90%;
  padding: 20px 10px;
  margin: 1rem auto;
}

.book-list #author {
  color: #4386bf;
  font-size: 18px;
  font-weight: 300;
}

.book-list button {
  color: #4386bf;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin-left: -5px;
}

.book-description {
  line-height: 1rem;
  margin: auto 2rem;
}

.complete-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.complete-logo {
  width: 4rem;
  height: 4rem;
  border: 5px solid #0290ff;
  border-left: 5px solid #d3d3d3;
  border-radius: 45px;
}

.complete-info {
  opacity: 0.5;
  line-height: 0;
}

#percentage {
  font-size: 1.5rem;
}

#chapter-btn {
  background-color: #0290ff;
  color: white;
  border-radius: 3px;
  border: none;
  width: auto;
  padding: 10px;
}

#check-btn {
  background-color: #0290ff;
  color: white;
  border-radius: 3px;
  border: none;
  width: auto;
  padding: 10px;
}

h3 {
  color: #888;
}

form {
  width: 90%;
  margin: auto;
}

.input-field {
  display: flex;
  gap: 1rem;
  width: auto;
  justify-content: space-around;
}

input {
  padding: 1rem 2.5rem 1rem 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

#title-text {
  width: 50%;
}

#author-text {
  width: 30%;
}

.input-field button {
  width: 20%;
  background-color: #0290ff;
  color: white;
  border-radius: 3px;
  border: none;
}

.border {
  height: 4rem;
  border: 1px solid #d3d3d3;
  margin-top: 40px;
}
